<div class="title">
    <p class="footer">IWT Design ©2023 Created by Elicit Digital
        <span> Follow us on:
            <a href="https://twitter.com/Elicit_Digital"><i class="fa-brands fa-twitter"></i> </a>&nbsp;
            <a href="https://www.facebook.com/ElicitInfotech/"><i class="fab fa-facebook-f"></i></a> &nbsp;
            <a href="https://www.instagram.com/elicit.digital/"><i class="fab fa-instagram"></i></a> &nbsp;
            <a href="https://www.linkedin.com/company/elicit-digital/"><i
                    class="fa-brands fa-linkedin-in"></i></a>&nbsp;
            <a href="https://www.youtube.com/?themeRefresh=1"><i class="fa-brands fa-youtube"></i></a> &nbsp;
        </span>
    </p>
</div>