<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <a [routerLink]="['/']">Admin</a>
  </div>

  <span class="nav-spacer"></span>

  <app-notification icon="notifications" [number]="count" [matMenuTriggerFor]="menu"></app-notification>
  <mat-menu #menu="matMenu">
    <button class="notification" mat-menu-item *ngFor="let notification of message" (click)="notify()">
      <b>Notifications</b>: {{ notification.title }},
      {{ notification.createdAt | date:'short' }}
    </button>
  </mat-menu>

  <button class="profile-icon" mat-icon-button matTooltip="Admin" [matMenuTriggerFor]="profile">
    <img src="assets/images/avatar.png" class="pImage">
  </button>
  <mat-menu #profile="matMenu" [overlapTrigger]="false">
    <button mat-menu-item matTooltip="Profile" routerLink="/dashboard/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item matTooltip="Logout" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>