<div class="login-page">
  <div class="mat-dialog-container">
    <form *ngIf="!otp" class="login-form" [formGroup]="form">
      <div class="text-center">
        <h4>Forgot Password?</h4>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error
              *ngIf="form.controls.email.touched && form.controls.email.invalid">
              <span *ngIf="form.controls.email.errors.required">Please enter
                your email</span>
              <span *ngIf="form.controls.email.errors.email">Please enter a
                valid email</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column"
        class="mt20 mb20">
      </div>
      <div fxLayout="row">
        <button mat-raised-button color="primary" class="w-100" [disabled]="form.invalid"
          (click)="forgotPassword()">Send OTP</button>
        <button mat-raised-button mat-dialog-close color="warn" class="w-100">
          Close</button>
      </div>
    </form>

    <div *ngIf="otp">
      <form class="login-form" [formGroup]="otpform">
        <div class="text-center">
          <h4 >Enter OTP & new password</h4>
        </div>
        <div fxLayout="row">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput placeholder="OTP" type="number"
                formControlName="otp" required>
              <mat-error *ngIf="isFieldInvalid('otp')">
                Please enter your valid OTP
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput [type]="hide ? 'password' : 'text'"
                placeholder="Password" formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="isFieldInvalid('password')">
                Please enter your password
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column"
          class="mt20 mb20">
        </div>
        <div fxLayout="row">
          <button mat-raised-button color="primary" class="w-100" [disabled]="otpform.invalid"
          (click)="otpSubmit()">Update</button>
          <button mat-raised-button mat-dialog-close color="warn" class="w-100">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>