mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted {
  background-color: burlywood;
}

mat-row:hover {
  background-color: rgb(245, 233, 233);
}

.title {
  text-align: center;
}

.breadcrumb-item :hover {
  text-decoration: none;
}

.customTable {
  .word-break {
    word-break: break-all;
  }

}

.no-data-message {
  text-align: center;
  background-size: cover;

  @media (max-width: 768px) {
    img {
      max-width: 300px;
    }
  }
}

// .customTable mat-header-cell,
// .customTable .mat-cell {
//   padding: 0 10px;
// }

.isCompleted {
  justify-content: center;
}

.excel {
  position: absolute;
  display: flex;
  margin-top: 10px;

  @media (max-width: 768px) {
    margin-top: 55px;
  }
}

@media (max-width:767px) {
  mat-table {
    &.customTable {
      overflow: auto;

      mat-cell,
      mat-header-cell {
        min-width: 100px;
      }
    }

    mat-header-cell {
      background-color: burlywood;
    }
  }
}