<div class="pwdChange">
    <div class="content px20">
        <form class="login-form" [formGroup]="changePassword">
            <div class="text-center">
                <h4>Change Password</h4>
            </div>
            <div fxLayout="row">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Old Passowrd"
                            formControlName="oldpassword" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="changePassword.get('password').hasError('required') && (changePassword.get('password').touched || changePassword.get('password').dirty)">
                            Old Password is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password"
                            formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="changePassword.get('password').hasError('required') && (changePassword.get('password').touched || changePassword.get('password').dirty)">
                            New Password is required.
                        </mat-error>
                        <mat-error
                            *ngIf="changePassword.get('password').hasError('minlength') && (changePassword.get('password').touched || changePassword.get('password').dirty)">
                            Password must be at least 8 characters long.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Passowrd"
                            formControlName="confirmPassword" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="changePassword.get('confirmPassword').hasError('passwordsNotMatch')">
                            Confirm Password does not match.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
            </div>
            <div fxLayout="row">
                <button mat-raised-button color="primary" class="w-100" (click)="onSubmit()"
                    [disabled]="changePassword.invalid">Update</button>
                <button mat-raised-button mat-dialog-close color="warn" class="w-100">Close</button>
            </div>
        </form>
    </div>
</div>